page-game {
    .number-container {
        width:9vmin;
        height:9vmin;
        line-height:9vmin;
        display:inline-block;
        text-align:center;
        border:1px solid black;
    }
}
