page-game {

    .foo {
        font-family: "BebasNeue";
        font-size: 1.5em;
    }

    // button
    .solvebtn {
        display: block;
        margin: auto;
        margin-top: 20px;
        background-color: transparent;
        font-size: 8vmin;
        font-family: "BebasNeue";
        color: #ccc;
    }

    // fields
    .field {
        width:9vmin;
        height:9vmin;
        line-height:9vmin;
        display:inline-block;
        text-align:center;
        border: 0.5px solid white;
        font-size: 5vmin;
    }
    .incorrect {
        background-color: rgb(255, 50, 50);
    }

    // number buttons
    .number-container {
        width:9vmin;
        height:9vmin;
        line-height:9vmin;
        display:inline-block;
        text-align:center;
        font-size: 5vmin;
    }
    .number {
        border-radius: 5px;
        background-color: transparent;
    }
    .number.selected {
        background-color: #555;
    }

    // no border at the ends
    .field-row:nth-child(1) .field {
        border-top-width: 0px;
    }
    .field-row:nth-child(9) .field {
        border-bottom-width: 0px;
    }
    .field:nth-child(1) {
        border-left-width: 0px;
    }
    .field:nth-child(9) {
        border-right-width: 0px;
    }

    // double horizontal borders
    .field-row:nth-child(3) .field {
        border-bottom-width: 2px;
    }
    .field-row:nth-child(6) .field {
        border-bottom-width: 2px;
    }

    // double vertical borders
    .field:nth-child(3) {
        border-right-width: 2px;
    }
    .field:nth-child(6) {
        border-right-width: 2px;
    }
}
