<ion-header>
  <ion-navbar>
    <ion-title>
      <span class="foo">
        {{difText}} Sudoku
      </span>      
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- Sudoku Field -->
  <ion-grid>
    <div class="field-row" *ngFor="let item of board.fields; let row = index;" style="text-align:center;">
      <div class="field" *ngFor="let number of item; let col = index;" (click)='pressedField(row,col)'>
        <div *ngIf="incorrect != (row*9+col)">
          <span *ngIf="number != 0">
            {{number}}
          </span><span *ngIf="number == 0">
            &nbsp;
          </span>
        </div>
        <div class="incorrect" *ngIf="incorrect == (row*9+col)">
          <span *ngIf="number != 0">
            {{number}}
          </span><span *ngIf="number == 0">
            &nbsp;
          </span>
        </div>
      </div>
    </div>

    <div style="height:20px"></div>

    <div style="text-align:center;">
      <div class="number-container" *ngFor="let number of [1,2,3,4,5,6,7,8,9]" (click)='pressedNumber(number)'>
        <div class="number" *ngIf="selected != number">
          {{number}}
        </div>
        <div class="number selected" *ngIf="selected == number">
          {{number}}
        </div>
      </div>
    </div>

    <div style="height:10px"></div>

    <div>
        <button class="solvebtn" (click)="solve()">Solve Sudoku</button>
    </div>
  </ion-grid>

</ion-content>
